.btn{
    display: inline-block;
    background: #FD6038;
    color: #fff;
    line-height: 60px;
    text-align: center;
    transition: background ease 0.4s;
}

.btn:hover{
    background: #ca4a2a;
}