@use "../variables";
@use "/scss/_mixins.scss";

.header{
    .about-hero{
        max-width: 670px;
        margin: 73px auto 100px;
        text-align: center;
    }

    &__sub-heading, &__desc{
        color: #0E1412;
    }
}

// ========Story=======
.story{
    margin-top: 150px;

    &__content{
        margin-top: 41px;
    }

    &__thumb{
        position: relative;
        max-height: 570px;

        &::before{
            position: absolute;
            content: "";
            width: 3.5%;
            height: 38.6%;
            background: #FED464;
            top: 0;
            right: 0;
        }
    }

    &__img{
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
    }

    &__img-design{
        position: absolute;
        bottom: 110px;
        left: -57px;
    }
}

// ========Gallery=======
.gallery{
    margin-top: 150px;

    &__content{
        max-width: 670px;
        margin: 0 auto;
        text-align: center;
    }

    &__thumb{
        margin-top: 70px;
        max-height: 570px;
    }

    &__img{
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
    }
}


// ========About Data=======
.about-data{
    margin-top: 70px;

    &__inner{
        background: #FED464;
        padding: 55px 216px;
        display: flex;
        align-items: center;
        gap: 100px;
    }

    &__content{
        text-align: center;

    }

    &__title{
        color: #0E1412;
        font-size: 6rem;
        font-weight: 800;
        line-height: 1.17;
    }

    &__sub-title{
        color: #0E1412;
        font-size: 1.8rem;
        line-height: 1.67;
    }
}

// ========Video=======
.video{
    margin: 150px 0;

     &__content{
        max-width: 670px;
        margin: 0 auto;
        text-align: center;
    }

    &__thumb{
        position: relative;
        margin-top: 70px;
        max-height: 570px;
    }

    &__img{
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;

        &-btn-play{
            position: absolute;
            top: 50%;
            left: 50%;
            translate: -50% -50%;
        }
    }
}
