@use "../variables";
@use "/scss/_mixins.scss";

// =======Header========
.header{

    .hero{
        margin-top: 154px;

        &__sub-heading{
            color: #0E1412;
        }

        &__heading{
            margin-top: 12px;
            font-size: 6rem;
            font-weight: 800;
            line-height: 1.17;
        }

        &__desc{
            margin-top: 18px;
            color: #0E1412;
            max-width: 470px;
        }

        &__btn{
            margin-top: 38px;
            min-width: 242px;
        }

        &__thumb{
            position: relative;
            max-width: 100%;
            max-height: 476px;
            background: #017848;

             &::before{
            position: absolute;
            content: "";
            width: 30%;
            height: 88.6%;
            background: #FED464;
            bottom: 0;
            left: 0;
            }
        }

        &__img{
            position: relative;
            display: block;
            width: 70%;
            height: 100%;
            margin: 0 auto;

            &-design-1{
                position: absolute;
                top: -92px;
                left: -90px;
            }

            &-design-2{
                position: absolute;
                top: 111px;
                right: -90px;
            }
        }
    }
}

// =======About Us========
.about{
    padding: 100px 0;
    background: #0E1412;

    &__thumb{
        position: relative;
        max-width: 100%;
        max-height: 570px;
    }

    &__img{
        width: 100%;
        height: 100%;
        object-fit: cover;

        &-design{
            position: absolute;
            right: -57px;
            bottom: 110px;
        }
    }

    &__content{
        margin-top: 64px;
    }

    &__sub-heading{
        color: #FD6038;
    }

    &__heading{
        color: #fff;
    }

    &__desc{
        margin-top: 18px;
        color: #BECCC7;
    }

    &-quantity{
        margin-top: 28px;
        display: flex;
        align-items: center;
        gap: 55px;

        strong{
            color: #fff;
            font-family: "Roboto Slab";
            font-size: 2.4rem;
            font-weight: 700;
            line-height: 1.42;
        }

        p{
            margin-top: 4px;
            color: #BECCC7;
        }
    }

    &__btn{
        margin-top: 38px;
        min-width: 166px;
    }
}

// =======Services========
.services{
    margin-top: 150px;

    &__content{
        text-align: center;
    }

    &__heading{
        margin-top: 6px;
    }

    &__desc{
        display: inline-block;
        margin-top: 18px;
        max-width: 470px;
    }

    &__list{
        margin-top: 70px;
    }

    &__thumb{
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
    }

    &__item{
        position: relative;
        max-width: 100%;
        max-height: 370px;

        &-btn{
        position: absolute;
        left: 20px;
        bottom: 20px;
        right: 20px;

        background: #fff;
        color: #0E1412;


        font-size: 2.2rem;
        font-weight: 700;
        transition: all ease 0.4s;
    }
    }

    .active, &__item-btn:hover{
        background: #FD6038;
        color: #fff;
    }

    &__btn{
        margin-top: 55px;
        margin-left: 50%;
        translate: -50%;
        min-width: 136px;
    }
}

// =======Feature========
.feature{
    margin: 150px 0;

    &__thumb{
        position: relative;
        max-width: 100%;
        max-height: 570px;

        &-before{
            &::before{
            position: absolute;
            content: "";
            width: 3.6%;
            height: 38.6%;
            background: #FD6038;
            top: 0;
            right: 0;
        }
        }

        &-after{
            &::before{
            position: absolute;
            content: "";
            width: 3.6%;
            height: 38.6%;
            background: #017848;
            bottom: 0;
            right: 0;
        }
        }
    }

    &__img{
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;

        &-design-1{
            position: absolute;
            top: 191px;
            left: -49px;
        }

        &-design-2{
            position: absolute;
            bottom: 209px;
            left: -65px;
        }
    }

    &__content{
        margin-top: 90px;
    }

    &__heading{
        margin-top: 6px;
    }

    &__desc{
        margin-top: 18px;
    }

    &__list{
        margin-top: 28px;
        color: #0E1412;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.67;
    }

    &__item{
        position: relative;
        margin-top: 12px;
        margin-left: 28px;

        &::before{
            position: absolute;
            content: "";
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background: currentColor;
            top: 14px;
            left: -14px;
        }
    }

    &__btn{
        margin-top: 38px;
        min-width: 180px;
    }

    &__bottom{
        margin-top: 150px;
    }
}

// =======Team========
.team{
    background: #0E1412;
    padding: 100px 0;

    &__content{
        margin: 0 auto;
        text-align: center;
        max-width: 470px;
    }

    &__sub-heading{
        color: #FD6038;
    }

    &__heading{
        margin-top: 6px;
        color: #fff;
    }

    &__desc{
        margin-top: 18px;
    }

    &__info{
        position: relative;
        max-width: 100%;
        max-height: 448px;
        margin-bottom: 30px;

         &-btn{
            opacity: 0;
            visibility: hidden;
            position: absolute;
            min-width: 170px;
            bottom: 90px;
            left: 99px;
            z-index: 1;
            transition: all ease 0.5s;
        }

        &:hover{
            & > .team__info-btn{
                opacity: 1;
                visibility: visible;
            }
        }
    }

    &__thumb{
        max-width: 100%;
        max-height: 82.5%;
        object-fit: cover;
    }

    .active{
        & > .team__info-btn{
            opacity: 1;
            visibility: visible;
        }
    }

    &__title{
        margin-top: 18px;
        color: #fff;
        font-family: Manrope;
        text-align: center; 
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 1.45;
    }

    &__sub-title{
        color: #BECCC7;
        text-align: center;
        line-height: 1.75;
    }

    &__btn{
        margin-top: 25px;
        margin-left: 50%;
        translate: -50%;
        min-width: 170px;
    }
}

// =======Awards========
.awards{
    background: #F8EBC9;
    padding: 100px 0;

    &__content{
        margin: 0 auto;
        text-align: center;
    }

    &__sub-heading{
        color: #0E1412;
    }

    &__heading{
        margin-top: 6px;
    }

    &__thumb{
        margin-top: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 100%;
        min-height: 270px;
        background: #fff;
    }

    &__img{
        max-width: 50.5%;
        max-height: 37%;
        object-fit: cover;
    }
}

// =======Testimonial========
.testimonial{
    margin: 150px 0;

    &__top{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    &__heading{
        margin-top: 6px;
    }

    &__wrap-btn{
        display: flex;
        gap: 20px;
    }

    &__btn{
        width: 48px;
        line-height: 48px;
        background: #0E1412;
        font-size: 2rem;

        &:hover{
            background: #FD6038;
        }
    }

    &__list{
        margin-top: 70px;

        & .active{
            translate: 0 -8px;
            box-shadow: 0px 20px 70px 0px rgba(14, 20, 18, 0.07);
    }

    }

    &__item{
        padding: 30px;
        border: 1px solid #E6EFEC;
        transition: translate ease 0.4s, box-shadow ease 0.4s;

        &:hover{
            translate: 0 -8px;
            box-shadow: 0px 20px 70px 0px rgba(14, 20, 18, 0.07);
        }
    }

    &__avatar{
        display: block;
        width: 64px;
        height: 64px;
        border-radius: 50%;
        object-fit: cover;

    }

    &__desc{
        margin: 30px 0;
        color: #586863;
        font-size: 1.8rem;
        line-height: 1.67;
    }

    &__title{
        margin-top: 12px;
        color: #0E1412;
        font-size: 2rem;
        font-family: Manrope;
        font-weight: 700;
        line-height: 1.5;
    }

    &__sub-title{
        color: #586863;
        font-size: 1.4rem;
        line-height: 1.71;
    }

    &__bottom{
        margin-top: 55px;
        margin-left: 50%;
        translate: -50%;

        display: inline-flex;
        align-items: center;
        gap: 8px;

        & > .active{
            background: #FD6038;
        }
    }

    &__dot{
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: #0E1412;
    }


}

// =======FAQ========
.faq{
    &__inner{
        max-width: 770px;
        padding: 30px;
        margin: 0 auto;
    }

    &__content{
        text-align: center;
    }

    &__heading{
        margin-top: 6px;
    }

    &__wrap-question{
        margin-top: 18px;
        color: #0E1412;
        font-size: 1.8rem;
        line-height: 1.67;

        & > .active{
            color: #FD6038;
            font-weight: 600;
        }
    }

    &__question{
        margin-right: 30px;
        transition: all ease 0.4s;

        &:hover{
            color: #FD6038;
            font-weight: 600;
        }
    }

    &__question + &__question{
        margin-right: 0;
    }

    &__list{
        margin-top: 100px;
    }

    &__item{
        padding: 30px; 
        overflow: hidden;

        &:has(input[type="checkbox"]:checked){
            box-shadow: 0px 20px 70px 0px rgba(14, 20, 18, 0.07);
        }
    }

    &__item-inner{
        display: flex;
        align-items: flex-end;
    }

    #open-sub-title-1:checked ~ &__sub-title,
    #open-sub-title-2:checked ~ &__sub-title, 
    #open-sub-title-3:checked ~ &__sub-title{
        margin-top: 18px;
        max-height: 150px;
        opacity: 1;
        visibility: visible;
        overflow-y: auto;
    }

    #open-sub-title-1:checked ~ &__item-inner{
        .faq__btn{
            background: #FD6038;
        }

       .faq__btn::before{
            top: 12px;
            rotate: 135deg;
       }
    }

    #open-sub-title-2:checked ~ &__item-inner{
        .faq__btn{
            background: #FD6038;
        }

       .faq__btn::before{
            top: 12px;
            rotate: 135deg;
       }
    }

    #open-sub-title-3:checked ~ &__item-inner{
        .faq__btn{
            background: #FD6038;
        }

       .faq__btn::before{
            top: 12px;
            rotate: 135deg;
       }
    }

    &__item + &__item{
        border-top: 1px solid #DBE1E3;
    }

    &__title{
        color: #0E1412;
        font-family: Manrope;
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 1.45;
        cursor: pointer;
    }

    &__btn{
        position: relative;
        display: inline-block;
        margin-left: auto;
        width: 28px;
        height: 28px;
        background: #0E1412;
        cursor: pointer;
        transition: background ease 0.4s;

        &:hover{
            background: #FD6038;
        }

        &::before{
            position: absolute;
            content: "";
            width: 10px;
            height: 10px;
            border-left: 2px solid #fff;
            border-bottom: 2px solid #fff;
            top: 6px;
            left: 8px;
            rotate: -45deg;
            transition: top ease 0.4s, rotate ease 0.4s;
        }
    }

    &__sub-title{
        max-height: 0;
        opacity: 0;
        visibility: hidden;
        color: #586863;
        font-size: 1.8rem;
        line-height: 1.67;
        transition: all ease 0.4s, ;
    }
}

// =======Blog========
.blog{
    margin-top: 150px;

    &__top{
        display: flex;
        align-items: flex-end;
    }

    &__content{
        max-width: 470px;
    }

    &__heading{
        margin-top: 6px;
    }

    &__desc{
        margin-top: 18px;
    }

    &__btn{
        margin-left: auto;
        min-width: 158px;
    }

    &__bottom{
        margin-top: 70px;
    }

    &__thumb{
        max-width: 100%;
        max-height: 370px;
        object-fit: cover;
    }

    &__item-content{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
    }

    &__info{
        display: flex;
        align-items: center;
        gap: 16px;
    }

    &__avatar{
        width: 64px;
        height: 64px;
        object-fit: cover;
        border-radius: 50%;
    }

    &__name{
        color: #0E1412;
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 1.67;
    }

    &__job{
        color: #586863;
        line-height: 1.75;
    }

    &__title{
        margin-top: 20px;
        color:#181D1F;
        font-family: Manrope;
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 1.45;
    }

    &__link{
        display: block;
        margin-top: 12px;
        color: #0E1412;
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 1.67;
        transition: color ease 0.4s;

        &:hover{
            color: #FD6038;
        }
    }
}

// =======CTA========
.cta{
    background: #017848;
    padding: 100px 0;
    margin-top: 150px;

    &__content{
        margin: 0 auto;
        max-width: 470px;
        color: #fff;
    }

    &__sub-heading , &__heading, &__desc{
        color: #fff;
    }

    &__heading{
        margin-top: 6px;
    }

    &__desc{
        margin-top: 18px;
    }

    &__btn{
        margin-top: 38px;
        min-width: 242px;
    }
}