@use "../variables";
@use "/scss/_mixins.scss";

.practice{
    &__thumb{
        max-height: 570px;
    }

    &__img{
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
    }

    &__inner{
        margin: 70px auto 0;
        max-width: 770px;
    }

    &__content + &__content{
        margin-top: 48px;
    }

    &__desc + &__desc{
        margin-top: 28px;
    }

    &__list{
        margin: 28px 0;
        color: #0E1412;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.67;
    }

    &__item{
        position: relative;
        margin-left: 20px;

        &::before{
            position: absolute;
            content: "";
            width: 4px;
            height: 4px;
            background: #0E1412;
            border-radius: 50%;
            top: 14px;
            left: -20px;
        }

        span{
            opacity: 0;
        }
    }
}