@use "/scss/_variables.scss";
@use "/scss/_mixins.scss";

.header{
    background: #F8EBC9;
    min-height: 859px;
    padding: 30px 0;

    &__top{
        display: flex;
        align-items: center;

        @include mixins.screen(xl){
            
        }
    }

    .nav{
        margin-left: auto;
        margin-right: 93px;

        @include mixins.screen(xl){
            margin: 0 auto;
        }

         @include mixins.screen(lg){
            margin: 0 30px;
        }

        &__list{
            display: flex;
        }

        &__item{
            position: relative;
            transition: color ease 0.3s;
            color: #0E1412;
            line-height: 1.75;

             &:not(:nth-child(4)){
            margin-right: 10px;
            }

            &:not(:nth-child(4))::after {
            position: absolute;
            content: "";
            width: 6px;
            height: 6px;
            border-left: 2px solid currentColor;
            border-bottom: 2px solid currentColor;
            top: 19px;
            right: 5px;
            rotate: -45deg;
            border-radius: 1px;
            transition: rotate ease 0.3s;
        }
        }

        .active, &__item:hover {
            color: #FD6038;

            &.nav{
                &__item:not(:nth-child(4))::after{
                    top: 23px;
                    rotate: 135deg;
                }
            }

        }

        &__link{
            display: inline-flex;
            padding: 10px 20px;
        }
    }

    &__phone{
        color: #0E1412;
        line-height: 1.75;

        @include mixins.screen(lg){
            margin-left: auto;
        }

        strong{
        color: #0E1412;
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 1.45;
        }
    }
}
