<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Justice Law Firm</title>
        <%- include("./partials/head.ejs") %>
    </head>
    <body>
        <!-- Header -->
        <div class="header">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <%- include("./partials/header.ejs") %>
                    </div>
                </div>
            </div>
        </div>

        <!-- Main -->
        <main class="blog-page">
            <div class="container">
                <section class="blog-page__inner">
                    <h1 class="heading blog-page__heading">
                        Justice Law Firm Press Releases
                    </h1>
                    <div class="blog-page__wrap-btn">
                        <a href="#!" class="btn blog-page__btn active">All</a>
                        <a href="#!" class="btn blog-page__btn">Recent</a>
                        <a href="#!" class="btn blog-page__btn">Popular</a>
                        <a href="#!" class="btn blog-page__btn">Trending</a>
                        <a href="#!" class="btn blog-page__btn">Oldest</a>
                    </div>
                    <div class="row">
                        <!-- Col -1 -->
                        <article class="col-4">
                            <div class="blog__item">
                                <img
                                    src="./images/blog-img-1.png"
                                    alt=""
                                    class="blog__thumb"
                                />
                                <div class="blog__item-content">
                                    <div class="blog__info">
                                        <img
                                            src="./images/blog-avatar-1.png"
                                            alt="Avatar"
                                            class="blog__avatar"
                                        />
                                        <div class="blog__wrap-info">
                                            <strong class="blog__name"
                                                >Mitchell Starc</strong
                                            >
                                            <p class="blog__job">
                                                Attorney at Law
                                            </p>
                                        </div>
                                    </div>
                                    <h3 class="blog__title">
                                        5 Key Rules of Law in Our Society Must
                                        Know in 2022
                                    </h3>
                                </div>
                                <a href="#!" class="blog__link">Learn More</a>
                            </div>
                        </article>
                        <!-- Col 2 -->
                        <article class="col-4">
                            <div class="blog__item">
                                <img
                                    src="./images/blog-img-2.png"
                                    alt=""
                                    class="blog__thumb"
                                />
                                <div class="blog__item-content">
                                    <div class="blog__info">
                                        <img
                                            src="./images/blog-avatar-1.png"
                                            alt="Avatar"
                                            class="blog__avatar"
                                        />
                                        <div class="blog__wrap-info">
                                            <strong class="blog__name"
                                                >Mitchell Starc</strong
                                            >
                                            <p class="blog__job">
                                                Attorney at Law
                                            </p>
                                        </div>
                                    </div>
                                    <h3 class="blog__title">
                                        5 Key Rules of Law in Our Society Must
                                        Know in 2022
                                    </h3>
                                </div>
                                <a href="#!" class="blog__link">Learn More</a>
                            </div>
                        </article>
                        <!-- Col 3 -->
                        <article class="col-4">
                            <div class="blog__item">
                                <img
                                    src="./images/blog-img-3.png"
                                    alt=""
                                    class="blog__thumb"
                                />
                                <div class="blog__item-content">
                                    <div class="blog__info">
                                        <img
                                            src="./images/blog-avatar-1.png"
                                            alt="Avatar"
                                            class="blog__avatar"
                                        />
                                        <div class="blog__wrap-info">
                                            <strong class="blog__name"
                                                >Mitchell Starc</strong
                                            >
                                            <p class="blog__job">
                                                Attorney at Law
                                            </p>
                                        </div>
                                    </div>
                                    <h3 class="blog__title">
                                        What to Expect When you are Charged with
                                        DUI
                                    </h3>
                                </div>
                                <a href="#!" class="blog__link">Learn More</a>
                            </div>
                        </article>
                    </div>

                    <!-- Newsletter -->
                    <section class="newsletter">
                        <p class="sub-heading newsletter__sub-heading">
                            #Newsletter
                        </p>
                        <h2 class="heading newsletter__heading">
                            Subscribe Our Newsletter
                        </h2>
                        <form
                            action=""
                            class="newsletter__form"
                            autocomplete="off"
                        >
                            <input
                                type="email"
                                class="newsletter__input"
                                placeholder="Enter your email"
                            />
                            <button class="btn newsletter__btn">
                                Subscribe
                            </button>
                        </form>
                        <p class="heading-desc newsletter__desc">
                            The latest Law News.
                            <span>Stright to your inbox</span>
                        </p>
                    </section>

                    <div class="row gy-3">
                        <!-- Col -1 -->
                        <article class="col-4">
                            <div class="blog__item">
                                <img
                                    src="./images/blog-page-img-1.png"
                                    alt=""
                                    class="blog__thumb"
                                />
                                <div class="blog__item-content">
                                    <div class="blog__info">
                                        <img
                                            src="./images/blog-avatar-1.png"
                                            alt="Avatar"
                                            class="blog__avatar"
                                        />
                                        <div class="blog__wrap-info">
                                            <strong class="blog__name"
                                                >Mitchell Starc</strong
                                            >
                                            <p class="blog__job">
                                                Attorney at Law
                                            </p>
                                        </div>
                                    </div>
                                    <h3 class="blog__title">
                                        5 Key Rules of Law in Our Society Must
                                        Know in 2022
                                    </h3>
                                </div>
                                <a href="#!" class="blog__link">Learn More</a>
                            </div>
                        </article>
                        <!-- Col 2 -->
                        <article class="col-4">
                            <div class="blog__item">
                                <img
                                    src="./images/blog-page-img-2.png"
                                    alt=""
                                    class="blog__thumb"
                                />
                                <div class="blog__item-content">
                                    <div class="blog__info">
                                        <img
                                            src="./images/blog-avatar-1.png"
                                            alt="Avatar"
                                            class="blog__avatar"
                                        />
                                        <div class="blog__wrap-info">
                                            <strong class="blog__name"
                                                >Mitchell Starc</strong
                                            >
                                            <p class="blog__job">
                                                Attorney at Law
                                            </p>
                                        </div>
                                    </div>
                                    <h3 class="blog__title">
                                        5 Key Rules of Law in Our Society Must
                                        Know in 2022
                                    </h3>
                                </div>
                                <a href="#!" class="blog__link">Learn More</a>
                            </div>
                        </article>
                        <!-- Col 3 -->
                        <article class="col-4">
                            <div class="blog__item">
                                <img
                                    src="./images/blog-page-img-3.png"
                                    alt=""
                                    class="blog__thumb"
                                />
                                <div class="blog__item-content">
                                    <div class="blog__info">
                                        <img
                                            src="./images/blog-avatar-1.png"
                                            alt="Avatar"
                                            class="blog__avatar"
                                        />
                                        <div class="blog__wrap-info">
                                            <strong class="blog__name"
                                                >Mitchell Starc</strong
                                            >
                                            <p class="blog__job">
                                                Attorney at Law
                                            </p>
                                        </div>
                                    </div>
                                    <h3 class="blog__title">
                                        What to Expect When you are Charged with
                                        DUI
                                    </h3>
                                </div>
                                <a href="#!" class="blog__link">Learn More</a>
                            </div>
                        </article>
                        <!-- Col 4 -->
                        <article class="col-4">
                            <div class="blog__item">
                                <img
                                    src="./images/blog-page-img-4.png"
                                    alt=""
                                    class="blog__thumb"
                                />
                                <div class="blog__item-content">
                                    <div class="blog__info">
                                        <img
                                            src="./images/blog-avatar-1.png"
                                            alt="Avatar"
                                            class="blog__avatar"
                                        />
                                        <div class="blog__wrap-info">
                                            <strong class="blog__name"
                                                >Mitchell Starc</strong
                                            >
                                            <p class="blog__job">
                                                Attorney at Law
                                            </p>
                                        </div>
                                    </div>
                                    <h3 class="blog__title">
                                        What to Expect When you are Charged with
                                        DUI
                                    </h3>
                                </div>
                                <a href="#!" class="blog__link">Learn More</a>
                            </div>
                        </article>
                        <!-- Col 5 -->
                        <article class="col-4">
                            <div class="blog__item">
                                <img
                                    src="./images/blog-page-img-5.png"
                                    alt=""
                                    class="blog__thumb"
                                />
                                <div class="blog__item-content">
                                    <div class="blog__info">
                                        <img
                                            src="./images/blog-avatar-1.png"
                                            alt="Avatar"
                                            class="blog__avatar"
                                        />
                                        <div class="blog__wrap-info">
                                            <strong class="blog__name"
                                                >Mitchell Starc</strong
                                            >
                                            <p class="blog__job">
                                                Attorney at Law
                                            </p>
                                        </div>
                                    </div>
                                    <h3 class="blog__title">
                                        What to Expect When you are Charged with
                                        DUI
                                    </h3>
                                </div>
                                <a href="#!" class="blog__link">Learn More</a>
                            </div>
                        </article>
                        <!-- Col 6 -->
                        <article class="col-4">
                            <div class="blog__item">
                                <img
                                    src="./images/blog-page-img-6.png"
                                    alt=""
                                    class="blog__thumb"
                                />
                                <div class="blog__item-content">
                                    <div class="blog__info">
                                        <img
                                            src="./images/blog-avatar-1.png"
                                            alt="Avatar"
                                            class="blog__avatar"
                                        />
                                        <div class="blog__wrap-info">
                                            <strong class="blog__name"
                                                >Mitchell Starc</strong
                                            >
                                            <p class="blog__job">
                                                Attorney at Law
                                            </p>
                                        </div>
                                    </div>
                                    <h3 class="blog__title">
                                        What to Expect When you are Charged with
                                        DUI
                                    </h3>
                                </div>
                                <a href="#!" class="blog__link">Learn More</a>
                            </div>
                        </article>
                        <!-- Col 7 -->
                        <article class="col-4">
                            <div class="blog__item">
                                <img
                                    src="./images/blog-page-img-7.png"
                                    alt=""
                                    class="blog__thumb"
                                />
                                <div class="blog__item-content">
                                    <div class="blog__info">
                                        <img
                                            src="./images/blog-avatar-1.png"
                                            alt="Avatar"
                                            class="blog__avatar"
                                        />
                                        <div class="blog__wrap-info">
                                            <strong class="blog__name"
                                                >Mitchell Starc</strong
                                            >
                                            <p class="blog__job">
                                                Attorney at Law
                                            </p>
                                        </div>
                                    </div>
                                    <h3 class="blog__title">
                                        What to Expect When you are Charged with
                                        DUI
                                    </h3>
                                </div>
                                <a href="#!" class="blog__link">Learn More</a>
                            </div>
                        </article>
                        <!-- Col 8 -->
                        <article class="col-4">
                            <div class="blog__item">
                                <img
                                    src="./images/blog-page-img-8.png"
                                    alt=""
                                    class="blog__thumb"
                                />
                                <div class="blog__item-content">
                                    <div class="blog__info">
                                        <img
                                            src="./images/blog-avatar-1.png"
                                            alt="Avatar"
                                            class="blog__avatar"
                                        />
                                        <div class="blog__wrap-info">
                                            <strong class="blog__name"
                                                >Mitchell Starc</strong
                                            >
                                            <p class="blog__job">
                                                Attorney at Law
                                            </p>
                                        </div>
                                    </div>
                                    <h3 class="blog__title">
                                        What to Expect When you are Charged with
                                        DUI
                                    </h3>
                                </div>
                                <a href="#!" class="blog__link">Learn More</a>
                            </div>
                        </article>
                        <!-- Col 9 -->
                        <article class="col-4">
                            <div class="blog__item">
                                <img
                                    src="./images/blog-page-img-9.png"
                                    alt=""
                                    class="blog__thumb"
                                />
                                <div class="blog__item-content">
                                    <div class="blog__info">
                                        <img
                                            src="./images/blog-avatar-1.png"
                                            alt="Avatar"
                                            class="blog__avatar"
                                        />
                                        <div class="blog__wrap-info">
                                            <strong class="blog__name"
                                                >Mitchell Starc</strong
                                            >
                                            <p class="blog__job">
                                                Attorney at Law
                                            </p>
                                        </div>
                                    </div>
                                    <h3 class="blog__title">
                                        What to Expect When you are Charged with
                                        DUI
                                    </h3>
                                </div>
                                <a href="#!" class="blog__link">Learn More</a>
                            </div>
                        </article>
                    </div>

                    <!-- Blog Action -->
                    <div class="blog-action">
                        <span class="blog-action__btn active">1</span>
                        <span class="blog-action__btn">2</span>
                        <span class="blog-action__btn">3</span>
                        <span class="blog-action__btn">4</span>
                        <span class="blog-action__btn">5</span>
                    </div>
                </section>
            </div>
        </main>

        <%- include("./partials/footer.ejs") %>
        <script type="module" src="./main.js"></script>
    </body>
</html>
